<table class="ui unstackable very basic collapsing table">
<tbody>

<tr>
  <td>
  <div class="license">
    <a class="larger text" rel="license">
    {% include icon.liquid id='cc-cc' %}{% include icon.liquid id='cc-by' %}
    </a>
  </div>

  <div>
    
    
    <br>
    <a class="project-repo" href="{{ site.project.repo }}">{{ site.project.repo }}</a>
  </div>
  </td>
</tr>

<tr>
  <td class="smaller text">
  <strong>{{ site.project.name }}</strong>{{ "now" | date: "%Y" }}
  </td>
</tr>

</tbody>
</table>
