<table class="ui unstackable very basic collapsing table">
<tbody>

<tr>
  <td>
  <div class="license">
    <a class="larger text" rel="license" href="tel:{{ site.project.tel }}" title="联系电话">
    {% include icon.liquid id='cc-cc' %}{% include icon.liquid id='cc-by' %}
    </a>
  </div>

  <div>
    <strong>详细订购以及整机定制化请联系：</strong>
    <a class="project-repo" href="tel:{{ site.project.tel }}">{{ site.project.tel }}</a>
  </div>
  </td>
</tr>

<tr>
  <td class="smaller text">
  <strong>软银科技</strong> {{ "now" | date: "%Y" }} &nbsp;&nbsp;&nbsp; (<a href="{{ site.project.repo }}">{{ site.project.repo }}</a>)
  </td>
</tr>

</tbody>
</table>
