<a class="borderless toggle item">{% include icon.liquid id='bars' %} 产品</a>

<a class="borderless item" href="{{ site.baseurl }}/">{% include icon.liquid id='home' %} 主页</a>

<div class="borderless header item">
<span class="attention-text">产品细节右下角直接联系deepseek销售总监</span>
</div>

<div>
<script>
 window.difyChatbotConfig = {
  token: 'Db1meXflFxtnigNy',
  systemVariables: {
    // user_id: 'YOU CAN DEFINE USER ID HERE',
    // conversation_id: 'YOU CAN DEFINE CONVERSATION ID HERE, IT MUST BE A VALID UUID',
  },
 }
</script>
<script>
 window.difyChatbotConfig = {
  token: 'Db1meXflFxtnigNy',
  inputs: {
    // You can define the inputs from the Start node here
    // key is the variable name
    // e.g.
    // name: "NAME"
  },
  systemVariables: {
    // user_id: 'YOU CAN DEFINE USER ID HERE',
    // conversation_id: 'YOU CAN DEFINE CONVERSATION ID HERE, IT MUST BE A VALID UUID',
  },
  userVariables: {
    // avatar_url: 'YOU CAN DEFINE USER AVATAR URL HERE',
    // name: 'YOU CAN DEFINE USER NAME HERE',
  },
 }
</script>
<script
 src="https://udify.app/embed.min.js"
 id="Db1meXflFxtnigNy"
 defer>
</script>
<style>
  #dify-chatbot-bubble-button {
    background-color: #1C64F2 !important;
  }
  #dify-chatbot-bubble-window {
    width: 24rem !important;
    height: 40rem !important;
  }
</style>
</div>